{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Account | Biblio IoT</title>
{% endblock %}

{% block body %}
<bib-app>
    <bib-sidebar active="home"></bib-sidebar>

    <bib-main>
        <bib-header active="home">
            <div slot="headline">Biblio IoT</div>
            <div slot="sub-headline">Account</div>

            <nav slot="nav">
            <!--<a href="https://unimore.it" target="_blank">Unimore</a>
            <a href="https://github.com/mattiatrabucco/BiblioIoT" target="_blank">GitHub</a>-->
            <a href="{% url 'myapp:logout_view' %}">Logout</a>
            </nav>
        </bib-header>

        <bib-content>
            <bib-welcome name="{{ utente.nome }} {{ utente.cognome }}" biblio="{{ where_to_go | upper }}" rewards_level="{{ rewards_level }}"></bib-welcome>


            <bib-button class="button">
                <form action="" method="post">
                  {% csrf_token %} 
                  <button name="reward" value="reward">Riscatta il reward</button>
                </form>
            </bib-button>
            
            <br><br>
            {% if reward == "ALREADY" %}
            <p>Reward già riscattato.</p>
            {% elif reward == "NO" %}
            <p>Non sei ancora entrato nella biblioteca suggerita.</p>
            {% elif reward == "DONE" %}
            <p>Riscattato ora il tuo reward di oggi!</p>
            {% endif %}
            
            <br>
            <bib-accordion>
                <div slot="title">
                    Informazioni reward
                </div>
                <div slot="content">
                    Il tuo livello attuale è <b>{{ utente.rewards_counter }}</b>
                    <br><br>
                    Ottieni un reward per ogni ingresso in una biblioteca consigliata 
                    e conquisti nuove medaglie continuando a seguire i nostri consigli.  

                </div>
            </bib-accordion>
            <br>
            <bib-accordion>
                <div slot="title">
                    Impostazioni Telegram Bot
                </div>
                <div slot="content">
                    <form action="" method="post">
                        {% csrf_token %}
                        Inserisci qui il tuo username Telegram (senza @):
                        <input type="text" id="telegram" name="telegram" required>
                        <br><br>
                        <bib-button class="button">
                            <input type="submit" value="Salva">
                        </bib-button>
                    </form>
                </div>
            </bib-accordion>

            <div id="divMobileOnly">
                <p>
                    <br>
                    <a href="{% url 'myapp:logout_view' %}">Logout</a>
                </p>
            </div>
            
        </bib-content>
    </bib-main>
</bib-app>
{% endblock %}