<h1>Biblio IoT</h1>

{% if biblioteche %}
    <p>
        {% for biblio_name, biblio_data in biblioteche.items %}
            <h3>{{ biblio_name | capfirst}}: 
                {% if biblio_data.closed %}
                <font color="grey">chiusa</font>
                {% else %}
                    {% if biblio_data.percentage < 25 %}
                        <font color="#00cc99">quasi vuota ({{ biblio_data.percentage }}%)</font>
                    {% endif %}
                    {% if biblio_data.percentage >= 25 and biblio_data.percentage < 50 %}
                        <font color="#9999ff">poco affollata ({{ biblio_data.percentage }}%)</font>
                    {% endif %}
                    {% if biblio_data.percentage >= 50 and biblio_data.percentage < 75 %}
                        <font color="#ff5050">molto affollata ({{ biblio_data.percentage }}%)</font>
                    {% endif %}
                    {% if biblio_data.percentage >= 75 %}
                        <font color="#e60000">piena ({{ biblio_data.percentage }}%)</font>
                    {% endif %}
                {% endif %}
            </h3>

            {% if biblio_data.closed %}
                Orario di oggi: {{ biblio_data.opening_hours }}
                <br>
                <br>
            {% else %}
                {% if biblio_data.extension != "N/A" %}
                   <b> --> estensa nell'aula {{ biblio_data.extension.name }} ({{ biblio_data.extension.capacity }} posti) fino alle {{ biblio_data.extension.open_until }}</b> 
                   <br>
                   <br>
                {% endif %}
                Posti totali: {{ biblio_data.capacity }}
                <br>
                Orario di oggi: {{ biblio_data.opening_hours }}
                <br>
                
            {% endif %}
            ____________________________________________________________________________
        {% endfor %}
    </p>
{% endif %}

<br>
<p>
    Sei già registrato? <a href="{% url 'myapp:home' %}">Accedi qui</a> | Altrimenti,
    <a href="{% url 'myapp:register' %}">registrati ora</a>  
    <!--<a href="{% url 'myapp:admin_home' %}">ACCEDI DA AMMINISTRATORE</a><br>-->
</p>
 <!--   <p>
        {% for nome,capienza in biblio.items %}
            {% if capienza < 25 %}
                <li> 
                    {{ nome | capfirst }} <font color=greenyellow>Not busy ({{ capienza }}%)</font>
                    {% for nome1,capienza1 in cap.items %}
                        {% if nome == nome1 %}
                            Capienza : {{capienza1}} 
                        {% endif %}
                    {% endfor %}
                    {% for nome2,ext in extension.items %}
                        {%if nome == nome2 %}
                            <br>- Estensione : {{ext}}
                        {%endif%}
                    {% endfor %}
                </li>
            {% endif %}
            {% if capienza >= 25 and capienza < 50 %}
                <li> 
                    {{ nome | capfirst }} - <font color=green>Medium ({{ capienza }}%)</font>
                    {% for nome1,capienza1 in cap.items %}
                        {% if nome == nome1 %}
                            Capienza : {{capienza1}} 
                        {% endif %}
                    {% endfor %}
                    {% for nome2,ext in extension.items %}
                        {%if nome == nome2 %}
                            <br>- Estensione : {{ext}}
                        {%endif%}
                    {% endfor %}
                </li>
            {% endif %}
            {% if capienza >= 50 and capienza < 75 %}
                <li> 
                    {{ nome | capfirst }} - <font color=orange>Busy ({{ capienza }}%)</font>
                    {% for nome1,capienza1 in cap.items %}
                        {% if nome == nome1 %}
                            Capienza : {{capienza1}} 
                        {% endif %}
                    {% endfor %}
                    {% for nome2,ext in extension.items %}
                        {%if nome == nome2 %}
                            <br>- Estensione : {{ext}}
                        {%endif%}
                    {% endfor %}
                </li>
            {% endif %}
            {% if capienza >= 75 %}
                <li> 
                    {{ nome | capfirst }} - <font color=red>Full ({{ capienza }}%)</font> -
                    {% for nome1,capienza1 in cap.items %}
                        {% if nome == nome1 %}
                            Capienza : {{capienza1}} 
                        {% endif %}
                    {% endfor %}
                    {% for nome2,ext in extension.items %}
                        {%if nome == nome2 %}
                            <br>- Estensione : {{ext}}
                        {%endif%}
                    {% endfor %}
                </li>
            {% endif %}
            <br>
        {% endfor %}
    </p>
--> 