{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Logout | Biblio IoT</title>
{% endblock %}

{% block body %}
<bib-app>
    <bib-sidebar active="home"></bib-sidebar>

    <bib-main>
        <bib-header>
            <div slot="headline">Biblio IoT</div>
            

            <nav slot="nav">
            <a href="https://unimore.it" target="_blank">Unimore</a>
            <a href="https://github.com/mattiatrabucco/BiblioIoT" target="_blank">GitHub</a>
            </nav>
        </bib-header>

        <bib-content>
            <p>Logout avvenuto con successo. Alla prossima!</p>
        </bib-content>


    </bib-main>
</bib-app>
{% endblock %}