{% extends "base.html" %}

{% block head %}
    <title>Registrati | Biblio IoT</title>
{% endblock %}

{% block body %}
<bib-app>
    <bib-sidebar active="home"></bib-sidebar>

    <bib-main>
        <bib-header>
            <div slot="headline">Biblio IoT</div>
            

            <nav slot="nav">
            <a href="https://unimore.it" target="_blank">Unimore</a>
            <a href="https://github.com/mattiatrabucco/BiblioIoT" target="_blank">GitHub</a>
            </nav>
        </bib-header>
        
        <bib-content>
            <bib-wrap headline="Registrati">
            </bib-wrap>
                
            {% if first %}
            <p>Crea un account inserendo qui sotto la tua mail UNIMORE, l'ID tessera NFC e una password:</p>
            {% endif %}

            {% if email_number_error %}
                <p style="color:red;">Errore nel campo mail.</p>
            {% endif %}
            {% if psw_error %}
                <p style="color:red;">Errore nel campo password.</p>
            {% endif %}
            {% if card_id_error %}
                <p style="color:red;">Errore nel campo ID tessera.</p>
            {% endif %}
            {% if error %}
                <p style="color:red;">Registrazione fallita. Controlla che i campi inseriti siano corretti!</p>
            {% endif %}
            {% if already_registered %}
                <p style="color:red;">Sei già registrato!</p>
            {% endif %}

            {% if ok %}
                <p style="color:greenyellow;">Registrazione completata!</p>
                <p><a href="{% url 'myapp:home' %}">Vai al login.</a></p>
            {% endif %}

            <form style="padding: 25px;" method="post"> 
                {% csrf_token %} 
                <label for="user"><b>Mail UNIMORE (solo cifre): </b></label>
                <input type="text" name="email_number" id="email_number" required/>@studenti.unimore.it <br><br>
                
                <label for="card_id"><b>ID tessera NFC: </b></label>
                <input type="text" name="card_id" id="card_id" required/> <br><br>

                <label for="password"><b>Password: </b></label>
                <input type="password" name="password" id="password" required/> <br><br>

                <bib-button class="button">
                    <input type="submit" value="Registrati" />
                </bib-button>
            </form>

            <br>
            Se hai già un account, <a href="/home">accedi qui.</a>
             
        </bib-content>
    </bib-main>
</bib-app>
{% endblock %}


