{% extends "base.html" %}

{% comment %} Page to register users. {% endcomment %} 

{% block head %}
    <title>BiblioIoT | Registrati</title>
{% endblock %}

{% block body %}
    <header>
        <h1>BiblioIoT</h1> 
        <h2>Registrati</h2>
    </header> 
    <section>
        {% if first %}
            <p>Per registrarti inserisci mail UniMoRe, l'ID tessera NFC e la password nei campi sottostanti:</p>
        {% endif %}

        {% if email_number_error %}
            <p>Errore nel campo mail.</p>
        {% endif %}
        {% if psw_error %}
            <p>Errore nel campo password.</p>
        {% endif %}
        {% if card_id_error %}
            <p>Errore nel campo ID tessera.</p>
        {% endif %}
        {% if error %}
            <p>Registrazione fallita. Controlla che i campi inseriti siano corretti!</p>
        {% endif %}
        {% if already_registered %}
            <p>Sei già registrato!</p>
        {% endif %}

        {% if ok %}
            <p>Registrazione completata!</p>
            <p><a href="{% url 'myapp:home' %}">Vai al login.</a></p>
        {% endif %}

        <form method="post"> 
            {% csrf_token %} 
            <label for="user">Mail UniMoRe (solo cifre): </label>
            <input type="text" name="email_number" id="email_number" required/>@studenti.unimore.it <br><br>
            
            <label for="card_id">ID tessera NFC: </label>
            <input type="text" name="card_id" id="card_id" required/> <br><br>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required/> <br><br>

            <input type="submit" value="Registrati" /><br><br>
            
        </form>
        <p><a href="{% url 'myapp:index' %}">Torna alla home</a><br></p>
    </section>
    
{% endblock %}

