{% extends "base.html" %}

{% comment %} Page to register users. {% endcomment %} 

{% block head %}
    <title>BiblioSite | Signin</title>
{% endblock %}

{% block body %}
    <header>
        <h1>BiblioSite</h1> <h2>Signin Page</h2>
    </header> 
    <section>
        {% if first %}
            <p>Registrati qui, inserendo mail, l'ID tessera NFC e la password:</p>
        {% endif %}
        {% if errore %}
            <p>Errore nella compilazione del form.</p>
        {% endif %}
        {% if ok %}
            <p>Registration completed.</p>
            <p><a href="{% url 'myapp:home' %}">Go to login</a></p>
        {% endif %}

        <form method="post"> 
            {% csrf_token %} 
            <label for="user">Mail Unimore: </label>
            <input type="mail" name="mail" id="mail"/> <br><br>
            
            <label for="card_id">ID tessera NFC: </label>
            <input type="text" name="card_id" id="card_id"/> <br><br>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password"/> <br><br>

            <input type="submit" value="Registrati" /><br><br>
            per il login al sito con username si intendono i primi 6 numeri della mail universitaria, per esempio<br>
            mail    ------->[123456@studenti.unimore.it] <br>
            username ------>[123456]<br>
        </form>
        <a href="{% url 'myapp:index' %}">Torna alla pagina principale</a><br>
    </section>
    
{% endblock %}

