{% extends "base.html" %}
{% comment %} Page to remove users by admin home {% endcomment %} 

{%if superuser %}
{% block head %}
    <title>Rimuovi studente</title>
{% endblock %}
{% block body %}
    <header>
        <h1>Rimuovi studente</h1>
    </header> 
    <section>
        {% if first %}
            <p>inserisci mail, l'ID tessera NFC</p>
        {% endif %}
        {% if errore %}
            <p>Errore nella compilazione del form.</p>
        {% endif %}
        {% if ok %}
            <p>studente eliminato database con successo</p>
            <p><a href="{% url 'myapp:admin_home' %}">Torna alla AdminHome</a></p>
        {% endif %}
        <form method="post"> 
            {% csrf_token %} 
            <label for="user">Mail Unimore: </label>
            <input type="mail" name="mail" id="mail"/> <br>
            <label for="card_id">ID tessera NFC: </label>
            <input type="text" name="card_id" id="card_id"/> <br>
            
            <input type="submit" value="Rimuovi" /><br><br>
        </form>
        <p><a href="{% url 'myapp:admin_home' %}">Torna alla AdminHome</a></p>
    </section>
    {% endblock %}
{%else%}
    <h1>NON HAI I PERMESSI PER ACCEDERE CON QUESTE CREDENZIALI</h1>
{%endif%}
<p><a href="{% url 'myapp:index' %}">Torna alla home</a></p>