{% extends "base.html" %}
{% load static %}

{% comment %} Main page to authenticate users. {% endcomment %} 

{% block head %}
    <title>Accedi | Biblio IoT</title>
{% endblock %}

{% block body %}
<bib-app>
    <bib-sidebar active="home"></bib-sidebar>

    <bib-main>
        <bib-header>
            <div slot="headline">Biblio IoT</div>
            

            <nav slot="nav">
            <a href="https://unimore.it" target="_blank">Unimore</a>
            <a href="https://github.com/mattiatrabucco/BiblioIoT" target="_blank">GitHub</a>
            </nav>
        </bib-header>

        <bib-content>
            <bib-wrap headline="Accedi">
            </bib-wrap>

                {% if form.errors %}
                    <p style="color:red;">Your username and password didn't match, please try again.</p>
                {% endif %}
                
                <p>Inserisci qui sotto il tuo UNIMORE ID e la tua password:</p>

                <form style="padding: 25px;"  method="post"> 
                    {% csrf_token %} 
                    <p> <b>{{ form.username.label_tag }}</b> {{ form.username }} </p> 
                    <p> <b>{{ form.password.label_tag }}</b> {{ form.password }} </p>
                    
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% else %}
                    <input type="hidden" name="next" value="/portal/" />
                    {% endif %}
                    
                    <bib-button class="button">
                        <input type="submit" value="Login" />
                    </bib-button>
                </form>

            <br>
            Se non hai ancora un account, <a href="/register">registrati qui.</a>
            
        </bib-content>
    </bib-main>
</bib-app>
{% endblock %}